* {
  box-sizing: border-box;
}

:root {
  --primary-text-color: #171100;
  --background-color: #fffcf4;
  --white-color: #fff;
  --font-body: Sen, sans-serif;
  --second-text-color: #5f5b53;
  --font-heading: Poppins, sans-serif;
}

/* Đổi đơn vị px sang rem */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: var(--font-heading);
}

/* Common CSS */
a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  width: 144px;
  line-height: 50px;
  background: var(--primary-text-color);
  color: var(--white-color);
  border-radius: 24.5px;
  text-align: center;
}

/* Header section */
.header {
  background-color: var(--background-color);
  padding-top: 44px;
  padding-bottom: 44px;
}

.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 16px);
}

.header .body {
  display: flex;
  align-items: center;
}

.header nav {
  display: flex;
  margin-left: auto;
}

.header nav a {
  font-size: 1.6rem;
  line-height: 28px;
  color: #5f5b53;
  padding-left: 21px;
  padding-right: 21px;
}

.header nav a:hover {
  text-shadow: 1px 0 0 currentColor;
  color: var(--primary-text-color);
}

.header nav a.active {
  font-weight: 600;
  color: var(--primary-text-color);
  position: relative;
}

.header nav a.active:after {
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: var(--primary-text-color);
  display: block;
  position: absolute;
  top: 23px;
  left: 22px;
}

.header .body .btn-signup {
  margin-left: 49px;
}

.header .body .btn-signup:hover {
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.8),
    0 0 24px rgba(255, 255, 255, 0.6);
  transform: scale(1.05);
  transition: 0.25s ease;
}

/* Hero section */
.hero {
  background-color: var(--background-color);
}

.hero .main-content {
  display: flex;
}

.hero .left-bx {
  width: 48.7%;
  position: relative;
}

.hero .left-bx > img {
  width: 470px;
  height: 685px;
  border-radius: 20px;
  margin-bottom: 111px;
}

.hero .left-bx .sumnary {
  width: 270px;
  height: 244px;
  background-color: #fff;
  border-radius: 12px;
  padding: 24px;
  position: absolute;
  right: 0;
  bottom: 100px;
}

.hero .left-bx .item {
  display: flex;
  margin: 7px 0;
  align-items: center;
}

.hero .left-bx .item:first-child {
  margin-top: 0;
}

.hero .left-bx .item:last-child {
  margin-bottom: 0;
}

.hero .left-bx span {
  display: block;
}

.hero .left-bx .icon {
  margin-right: 16px;
  width: 48px;
  height: 48px;
}

.hero .left-bx .course-content span:first-child {
  font-size: 1.4rem;
  line-height: 26px;
}

.hero .left-bx .course-content span:last-child {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 30px;
}

.hero .right-bx {
  width: 51.3%;
  padding-left: 116px;
}

.hero .right-bx h1 {
  font-family: var(--font-body);
  font-size: 5.8rem;
  font-weight: 700;
  width: 470px;
  letter-spacing: -2%;
  line-height: 68px;
}

.hero .right-bx .desc {
  font-size: 1.8rem;
  line-height: 30px;
  color: var(--second-text-color);
  margin-top: 28px;
  margin-bottom: 38px;
}

.hero .right-bx .call-to-action {
  display: flex;
}

.hero .right-bx .btn-see-courses {
  width: 180px;
  background-color: #ffb900;
  line-height: 64px;
  height: 64px;
  border-radius: 32px;
}

.hero .right-bx .btn-watch-video {
  background: none;
  border: none;
  align-items: center;
  margin-left: 28px;
  display: flex;
}
.hero .right-bx .btn-watch-video span {
  font-size: 1.8rem;
  line-height: 30px;
  font-weight: 600;
  margin-top: -10px;
}

.hero .right-bx .end {
  margin-top: 48px;
}

.hero .right-bx .recent-engagement {
  font-size: 1.8rem;
  color: var(--second-text-color);
  line-height: 30px;
}
.hero .right-bx .stats {
  display: flex;
  margin-top: 8px;
}

.right-bx .stats .item {
  margin-right: 29px;
}

.right-bx .stats strong {
  font-family: var(--font-body);
  color: var(--primary-text-color);
  font-size: 4.4rem;
  line-height: 54px;
  font-weight: bold;
}

.right-bx .stats span {
  font-size: 1.8rem;
  color: var(--second-text-color);
  line-height: 30px;
  margin-left: 10px;
}

.selection
{
  margin-bottom: 200px;
}

/* selection */
.selection div .description .main  {
  margin-top: 153px;
  font-weight: bold;
  font-family: var(--font-body);
  font-size: 3.8rem;
  line-height: 48px;
  letter-spacing: -2%;
  color: var(--primary-text-color);
}

.selection div .description p:last-child {
  font-family: var(--font-body);
  font-size: 1.8rem;
  line-height: 30px;
  width: 438px;
  color: var(--second-text-color);
  margin-top: 16px;
}

.selection .main-content {
  align-items: center;
  display: flex;
}

.selection .main-content .next_icon {
  margin-left: auto;
  margin-top: 195px;
}

/* option */
.main-content .option {
  display: flex;
}

/* Gom chung option1,2,3 trùng lặp */
.main-content .option .option1,
.main-content .option .option2,
.main-content .option .option3 {
  width: 100%;
  height: 466px;
  margin-top: 55px;
  margin-right: 30px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  box-shadow: 2px 4px 12px -11px #5f5b53;
  
}
.main-content .option .option1:hover,
.main-content .option .option2:hover,
.main-content .option .option3:hover{
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.8),
    0 0 24px rgba(255, 255, 255, 0.6);
  transform: scale(1.05);
  transition: 0.25s ease;}

.main-content .option .option1 .description,
.main-content .option .option2 .description,
.main-content .option .option3 .description {
  margin: 16px 22px 22px 22px;
  position: relative;
  width: 326px;
  height: 150px;
}

.main-content .option .option1 .description .context > p,
.main-content .option .option2 .description .context > p,
.main-content .option .option3 .description .context > p {
  font-size: 1.8rem;
  font-family: var(--font-heading);
  font-weight: 500;
  line-height: 30px;
}

.main-content .option .option1 .description .context p:last-child,
.main-content .option .option2 .description .context p:last-child,
.main-content .option .option3 .description .context p:last-child {
  font-family: var(--font-heading);
  font-size: 1.4rem;
  line-height: 26px;
  color: var(--second-text-color);
  width: 326px;
}

.main-content .option .option1 .cost,
.main-content .option .option2 .cost,
.main-content .option .option3 .cost {
  display: flex;
}

.main-content .option .option1 .cost p,
.main-content .option .option2 .cost p,
.main-content .option .option3 .cost p {
  font-family: var(--font-heading);
  font-size: 1.8rem;
  line-height: 30px;
  color: var(--primary-text-color);
  margin-top: 22px;
  font-weight: 500;
}

.main-content .option .option1 .cost a
 {
  width: 118px;
  height: 50px;
  background-color: #ffb900;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  margin-left: 141px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  color: white;
  text-decoration: none;
  
}
.main-content .option .option2 .cost a,
.main-content .option .option3 .cost a {
  width: 118px;
  height: 50px;
  background-color: #000000;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  margin-left: 141px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

/* giữ float cho img */
.main-content .option .option1 .description img,
.main-content .option .option2 .description img,
.main-content .option .option3 .description img {
  float: right;
}
/* individual quote */

.individual-quote{
background-color: #2E2100;
display: flex;
justify-content: center;
height: 380px;
}


.individual-quote .individual  p:first-of-type
{
  font-family: var(--font-body);
  font-size: 24px ;
  line-height: 34px;
  color: #F7F7F7;
  font-weight: bold;
  margin-top: 18px;
  margin-bottom: 4px;

}
.individual-quote .individual  p:last-of-type
{
  font-family: var(--font-heading);
  font-size :14px;
  line-height: 26px;
  color: #BFBCB2;
  margin-bottom: 28px;
}

.individual-quote .individual 
{
  margin-left: 150px;
  width: 159px;
  
}

.individual-quote 
{
  align-items: center;
  display: flex;
}

.individual-quote .quote 
{
  margin-left: 241px;
  width: 770px;
  height: 188px;
}

.individual-quote .individual img
{
  width: 72px;
  height: 72px;
}



.individual-quote .quote p
{
  line-height: 40px;
  font-family: var(--font-heading);
  font-size: 26px;
  font-style: italic;
  color: #FFFFFF ;
  margin-left: 30px;
  
}


.individual-quote .individual .dot .item
{
  width: 6px;
  height: 6px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: #634700;
  margin-right: 6px;
}

.individual-quote .individual .dot .dif-item
{
  width: 6px;
  height: 6px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: #FFB900;
  margin-right: 6px;
}

.individual-quote .individual .dot
{
  display: flex;
  align-items: center;
  
}

/* learner outcomes */

.Learner_outcomes .main-content
{
  margin-top: 200px;
  display: flex;
}

.Learner_outcomes .main-content .left-box
{
  display: flex;
}

.Learner_outcomes .main-content .left-box img:first-child
{
  
  margin-top: 34px;
  width: 270px;
  height: 404px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.Learner_outcomes .main-content .left-box img:last-child
{

  width: 270px;
  height: 405px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  margin-left: 30px;
}

.Learner_outcomes .main-content .right-box 
{
  margin-left: 130px;
  width: 470px;
  height: 322px;
  margin-top: 58px;
}

.Learner_outcomes .main-content .right-box span
{
  display: block;
  margin-bottom: 16px;
  
}

.Learner_outcomes .main-content .right-box span:nth-child(1)
{
  font-size: 38px;
  font-weight: bold;
  line-height: 48px;
  letter-spacing: -2%;
  font-family: var(--font-body);
  color: var(--primary-text-color);
}

.Learner_outcomes .main-content .right-box span:nth-child(2)
{
  font-size: 16px;
  line-height: 28px;
  font-family: var(--font-heading);
  color: var(--second-text-color);
}

.Learner_outcomes .main-content .right-box span:nth-child(3)
{
  font-size: 16px;
  line-height: 28px;
  font-family: var(--font-heading);
  color: var(--second-text-color);
}

.Learner_outcomes .main-content .right-box a
{
  width: 137px;
  height: 50px;
  background-color: #FFB900;
  color:#FFFFFF;
  border-radius: 26px;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
  font-size: 16px;
  font-family: var(--font-heading);
  font-weight: 400;
  line-height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* join page */

.join-page .main-content
{
  height: 440px;
  margin-top: 200px;
  display: flex;
  margin-bottom: 200px;
}
.join-page .left-side
{
  margin-top: 71px;
  margin-right: 130px;
}
.join-page .left-side span
{
  display: block;
}

.join-page .left-side span:first-child
{
  margin-bottom: 16px;
  font-size: 38px;
  line-height: 48px;
  font-weight: bold;
  font-family: var(--font-body);
  color: var(--primary-text-color);
  line-height: -2%;
  width: 570px;
}

.join-page .left-side span:nth-child(2)
{
  margin-bottom: 32px;
  font-family: var(--font-heading);
  font-size: 16px;
  line-height: 28px;
  color: var(--second-text-color);
  width: 570px;
} 



.join-page .left-side a
{
    width: 137px;
  height: 50px;
  background-color: #FFB900;
  color:#FFFFFF;
  border-radius: 26px;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
  font-size: 16px;
  font-family: var(--font-heading);
  font-weight: 400;
  line-height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.join-page .right-side img
{
  width: 470px;
  height: 440px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
/*  */
.blog
{
  background-color: var(--background-color);
  height: 878px;
}
.blog .main-content .introduction
{
  padding-top: 96px;
  margin-bottom: 55px;


}
.blog .main-content .introduction span
{
  display: block;
  text-align: center;

}

.blog .main-content .introduction span:first-child
{
  font-size: 38px;
  font-weight: bold;
  line-height: 48px;
  letter-spacing: -2%;
  font-family: var(--font-body);
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.blog .main-content .introduction span:last-child
{
  margin-bottom: 32px;
  font-family: var(--font-heading);
  font-size: 16px;
  color: var(--second-text-color);

}

/*  */
.answear {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.blog .main-content .introduction .answear {
  display: flex;
}

.answear .answear1,
.answear .answear2,
.answear .answear3 {
  display: block;
  width: 370px;
  height: 467px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 88px rgba(0, 16, 32, 0);
}

.answear .answear1 .context,
.answear .answear2 .context,
.answear .answear3 .context {
  margin-top: 20px;
  padding: 0 20px;
}


.answear .answear1 .context .time,
.answear .answear2 .context .time,
.answear .answear3 .context .time {
  font-family: var(--font-heading);
  font-size: 14px;
  color: var(--second-text-color);
  line-height: 26px;
}

.answear .answear1 .context .time .time-dot,
.answear .answear2 .context .time .time-dot,
.answear .answear3 .context .time .time-dot {
  width: 6px;
  height: 6px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: #FFB900;
  display: inline-block;
  margin-right: 4px; 
}

.answear .answear1 .context .time .line,
.answear .answear2 .context .time .line,
.answear .answear3 .context .time .line {
  width: 160px;
  height: 1px;
  opacity: 1; 
  border-radius: 0.5px;
  background-color: #E2DFDA;
  box-shadow: 0px 0px 88px rgba(0, 0, 0, 0.25);
  margin: 12px 0 0; 
  display: block; 
}


.answear .answear1 .context .question,
.answear .answear2 .context .question,
.answear .answear3 .context .question {
  font-family: var(--font-heading);
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: var(--primary-text-color);
  width: 330px;
  margin-bottom: 12px;
  margin-top: 12px;
}

.answear .answear1 .context .btn-read-more {
  width: 118px;
  height: 50px;
  background-color: #FFB900;
  color: #FFFFFF;
  border-radius: 26px;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
  font-size: 16px;
  font-family: var(--font-heading);
  font-weight: 400;
  line-height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  text-decoration: none;
}

/* Answear 2 và 3 button màu đen */
.answear .answear2 .context .btn-read-more,
.answear .answear3 .context .btn-read-more {
  width: 118px;
  height: 50px;
  background-color: var(--primary-text-color); /* Màu đen */
  color: #FFFFFF;
  border-radius: 26px;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
  font-size: 16px;
  font-family: var(--font-heading);
  font-weight: 400;
  line-height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  text-decoration: none;
}


.answear .answear1 .context .btn-read-more:hover {
  background-color: #e6a700;
}

.answear .answear2 .context .btn-read-more:hover,
.answear .answear3 .context .btn-read-more:hover {
  background-color: #333333; 
}

.answear .answear1 img,
.answear .answear2 img,
.answear .answear3 img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}


  .blog .main-content  .dot .item
{
  width: 6px;
  height: 6px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: #634700;
  margin-right: 6px;
}

.blog .main-content .dot .dif-item
{
  width: 6px;
  height: 6px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: #FFB900;
  margin-right: 6px;
}

.blog .main-content .answear .dot
{
  display: flex;
  margin-left: 570px;

}

/*  */




footer
{
  background-color: #2E2100 ;
  height: 428px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


footer .direct .info span
{
  font-family: var(--font-heading);
  font-size: 14px;
  line-height: 26px;
  color: #BFBCB2;
  width: 267px;
  display: block;
  margin-top: 18px;
}


footer .direct .info .social-platform img
{
  margin-right: 18px;
  width: 18px;
  height: 15px;
  margin-top: 18px;
}

footer .direct .info .social-platform
{
  display: flex;
}


footer .main-content .direct
{
  display: block;
  margin-right: 145px;
}

footer .main-content  {
  display: flex;
  margin-top: 96px;
}


footer .contact-info .line
{
  width: 130px;
  height: 1px;
  opacity: 1; 
  background-color: #59554B;
  margin-top: 14px;
  margin-bottom: 28px;
}

footer .contact-info 
{
  display: flex;

}

footer .contact-info div:not(div .line , div .row)

{
  margin-right: 130px;
}

.support
{
  width: 137px;
}

.company span,
.support span
{
  display: block;
}

.company span:not(:first-child),
.support span:not(:first-child)
{
  font-family: var(--font-heading);
  font-size: 14px;
  line-height: 26px;
  color: #BFBCB2;
  margin-bottom: 12px;
}

.company span:first-child,
.support span:first-child
{
  font-family: var(--font-heading);
  font-weight: 600;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 28px;
}

.address
{
  width: 231px;
}

.address .row 
{
  margin-bottom: 12px;
}

.address > span:first-child {
  display: block;
  font-weight: 600;
  margin-bottom: 12px;
  line-height: 28px;
  font-family: var(--font-heading);
  color: #FFFFFF;
}

.address .row span
{
  display: inline;
  font-size: 14px;
  line-height: 26px;
  font-family: var(--font-heading);
  color:#BFBCB2;
  width: 231px;
}

.address .row .label
{
  font-weight: 600;
  color: #FFFFFF;
}
footer .line
{
  width: 130px;
  height: 1px;
  opacity: 1; 
  background-color: #59554B;
  margin-top: 14px;
  margin-bottom: 28px;
}

footer .line {
  width: 1170px;
  
}

footer .copyright {
  text-align: center;
  font-size: 14px;
  color: #807D74;
  line-height: 26px;
  font-family: var(--font-heading);
}
